*.wav
*.pcm
*.reapeaks
settings.json
*.ds[df]
!1kHz*.ds[df]
!impulse_*.dsd
!pinknoise*.dsf
dsd2pcm
*.flac
.DS_Store
*.aiff
*.aif
*.dff
!1kHz*.dff
*.m4a
dsd2dxd
dsf2dsdiff
dsdextractor
dsdunpack
target/*
lib/*
*.log
*.dump